.display {
    outline: 2px solid blue;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 110px repeat(2, 1fr);
}

.sub-info > h2 {
    font-size: 1rem;
}

.sub-info {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.display-education {
    outline: 1px solid yellow;
}

.display-exp {
    outline: 1px solid orange;
}