.exp-container {
    margin-top: 20px;
    /* outline: 2px solid purple; */
    grid-column: 1 / 2;
    grid-row: 3 / 4;

    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.grid-element {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.grid-element > input {
    max-width: 200px;
}

.grid-element:nth-of-type(n + 2) {
    margin-top: 15px;
}