.grid-container {
    display: grid;
    grid-template-columns: 1.3fr 2fr;

    column-gap: 50px;
}

button {
    border-style: none;
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: azure;
    color: black;
}